#!/bin/sh
source ~/.custom/prompt_theme/src/mod.sh

# Colors
colors=(
  0    # Black
  1    # Red
  2    # Green
  3    # Yellow
  4    # Blue
  5    # Magenta
  6    # Cyan
  7    # Light gray
  8    # Dark gray
  9    # Light red
  10   # Light green
  11   # Light yellow
  12   # Light blue
  13   # Light magenta
  14   # Light cyan
  15   # White
  034001 # Status color OK 034(Dark Green), FAIL 001(RED) 
) 
# Custom Icons
LINUX_ICON=''
FOLDER_ICON=''
GIT_ICON=''
BRANCH_ICON=''
TIME_ICON=''
OK_ICON='✔'
FAIL_ICON='✘'

# ===============================[ Line #1 ]==============================
# Select Elements
left_prompt_elements=(
  f_context       # user@hostname
  f_pwd           # current directory
  f_git_branch    # git branch
)

right_prompt_elements=(
  f_status        # exit code of the last command
  f_time          # current time
)

# Segment Colors
left_prompt_segment_foreground_colors=(
  ${colors[0]}   # Black
  ${colors[15]}  # White
  ${colors[0]}   # Black
)
left_prompt_segment_background_colors=(
  ${colors[15]}  # White
  ${colors[4]}   # Blue
  ${colors[2]}   # Green
)

right_prompt_segment_foreground_colors=(
  ${colors[16]}  # Status color
  ${colors[0]}   # Black
)
right_prompt_segment_background_colors=(
  ${colors[3]}   # Yellow
  ${colors[15]}  # White
)

mid_prompt_segment_color=${colors[8]}  # Dark gray
MID_PROMPT_SEGMENT_SYMBOL='─'

LEFT_PROMPT_SEGMENT_END_SYMBOL=''
RIGHT_PROMPT_SEGMENT_START_SYMBOL=''

# ===============================[ Line #2 ]==============================
PROMPT_SYMBOL='❯'
prompt_color=${colors[2]} # Green

# Make Prompt
export PS1="\$(build_prompt)"
